@use "node_modules/bootstrap/scss/bootstrap";

.posts-container {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-stretch;
  @extend .justify-content-start;
  row-gap: 16px;
}

.posts-empty {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-self-center;
  @extend .align-items-center;
  row-gap: 16px;
}

.pagination {
  @extend .align-self-center;

  &-loading {
    opacity: 0.7;
    pointer-events: none;
  }
}